{% extends 'base.html' %}

{% block title %}Categories{% endblock title %}

{% block body %}

{% load static %}

<div class="container-fluid mt-3">
  <div class="row">

    <div class="col-lg-3 mx-auto">
      <div class="list-group">

        <a href="categories.html" class="list-group-item list-group-item-action"><h5>All Products</h5></a>

        {% for category in categories %}
          <a href="?category={{category.id}}" class="list-group-item list-group-item-action"><h5>{{category.name}}</h5></a>
        {% endfor %}
      </div>
    </div>
    
    
    <div id="products" class="col-lg-9"> 
      <div class="row mx-auto">
        {% for product in products %}
          <div class="card mx-auto mb-5" style="width:18rem;">
            <img src="{{product.image.url}}" class="card-img-top" alt="...">
            <div class="card-body">
              <a href="#"><h4 class="card-title">{{product.product_name}}</h4></a>
              <p class="card-text"><b>{{product.price}}</b></p>

              <form action="/" method="POST">
                {% csrf_token %}
              <input type="text" name="product" value="{{product.id}}"> <br>
              <input type="submit" class="btn btn-primary" value="Add to Cart">
              </form>

            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>

</div>
{% endblock body %}
